<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junseo.daepyeong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.IntroActivity"
            android:label="intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meal.MealActivity"
            android:label="급식식단표"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info.School_Info"
            android:label="학교정보"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Setting"
            android:label="설정"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NoticeActivity"
            android:label="공지사항"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HomeActivity"
            android:label="가정통신문" />
        <activity android:name=".view.BarcodeActivity" />
        <activity
            android:name=".view.ScanBarcode"
            android:screenOrientation="landscape" />
        <activity android:name=".view.WebviewActivity" />
    </application>

</manifest>
